{% extends "base.html" %}

{% block content %}
<main class="offcanvas-enabled" style="padding-top: 5rem;">

    <div class="container">

        <div class="row">
            {% include 'accounts/dashbord_sidebar.html' %}

            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_old_password" class="form-label">Old Password</label>
                                <input type="password" name="old_password" class="form-control" id="id_old_password" required>
                            </div>
                            <div class="mb-3">
                                <label for="id_new_password1" class="form-label">New Password</label>
                                <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
                            </div>
                            <div class="mb-3">
                                <label for="id_new_password2" class="form-label">Confirm New Password</label>
                                <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
