<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item   " href="{%url 'dashbord'%}">Dashbord</a>
        <a class="list-group-item" href="{%url 'my_orders'%}">My orders</a>
        <a class="list-group-item" href="{%url 'edit_profile'%}">Edit Profile</a>
        <a class="list-group-item" href="{%url 'address'%}">Address</a>
        <a class="list-group-item" href="{%url 'change_password'%}">Change Password</a>
 
    </ul>
    <br>
    <!--   SIDEBAR .//END   -->
</aside>