{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="offcanvas-enabled mt-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Add Category</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.category_name.label_tag }}
                                {{ form.category_name }}
                            </div>
                            <div class="form-group">
                                {{ form.slug.label_tag }}
                                {{ form.slug }}
                            </div>
                            <div class="form-group">
                                {{ form.icon.label_tag }}
                                {{ form.icon }}
                            </div>
                            <div class="form-group">
                                {{ form.parent.label_tag }}
                                {{ form.parent }}
                            </div>
                            <div class="navbar-tool">
                                <a href="{% url 'addproduct' %}">add product
                                </a>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Category</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
